<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css?family=Bowlby One:100,200,300,400,500,600,700,800,900"
            rel="stylesheet"
        />
        <link rel="stylesheet" href="/css/all.css" />
        <link rel="stylesheet" href="/css/dash.css" />
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
            integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
        />
        <script src="https://cdn.jsdelivr.net/npm/chart.js@3.7.0/dist/chart.min.js"></script>
        <title>Dashboard - Pushpa</title>
    </head>
    <body>
        <div class="container">
            <div class="navbar">
                <img src="/assets/wlogo.svg" class="side-logo" />
                <div class="line"></div>
                <div class="main">
                    <i class="fas fa-paperclip"></i>
                    <a href="/dashboard/">Dashboard</a>
                </div>
                <div class="main">
                    <i class="far fa-clock"></i>
                    <a href="/dashboard/schedule">Schedule</a>
                </div>
                <div class="main last">
                    <i class="fas fa-dollar-sign"></i>
                    <a href="/dashboard/products">Products</a>
                </div>
                <div class="line"></div>
                <div class="main">
                    <i class="fas fa-sign-out-alt"></i>
                    <a href="/dashboard/logout">Log out</a>
                </div>
            </div>
            <div class="main-wrap">
                <div class="nav-top">
                    <h1>Hello Pushpa</h1>
                    <div>
                        <img src="/assets/sun.svg" />
                        <img src="/assets/search.svg" />
                        <img src="/assets/bell.svg" />
                        <img src="/assets/person.png" />
                    </div>
                </div>
                <div class="flex-div-wrap">
                    <div class="graph-wrap">
                        <div class="graphs">
                            <div class="stock-wrap">
                                <h4>Weekly sales</h4>
                                <h2>$<%= value %></h2>
                                <i class="fa fa-arrow-up"></i>
                                <p>11.94%</p>
                            </div>
                            <div class="stock-wrap">
                                <h4>Monthly sales</h4>
                                <h2>$<%= value %></h2>
                                <i class="fa fa-arrow-up"></i>
                                <p>11.94%</p>
                            </div>
                            <div class="stock-wrap">
                                <h4>Annual sales</h4>
                                <h2>$<%= value %></h2>
                                <i class="fa fa-arrow-up"></i>
                                <p>11.94%</p>
                            </div>
                        </div>
                        <div class="graph-1 p-10">
                            <canvas
                                id="myChart"
                                style="height: 100%; width: 100%"
                            ></canvas>
                        </div>
                    </div>
                    <div class="stock">
                        <h1>Stock</h1>
                        <div class="stock-div">
                            <img
                                src="<%= imgObj[Math.round(cocoa / 50) * 50] %>"
                            />
                            <div class="stock-text">
                                <h4>Cocoa</h4>
                                <p><%= Math.round(cocoa) %>%</p>
                            </div>
                        </div>
                        <div class="stock-div">
                            <div class="stock-text left">
                                <h4>Milk</h4>
                                <p class="green"><%= Math.round(milk) %>%</p>
                            </div>
                            <img
                                src="<%= imgObj[Math.round(milk / 50) * 50] %>"
                                class="right"
                            />
                        </div>
                        <div class="stock-div">
                            <img
                                src="<%= imgObj[Math.round(chocolate / 50) * 50] %>"
                            />
                            <div class="stock-text">
                                <h4>Chocolate</h4>
                                <p><%= Math.round(chocolate) %>%</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script>
            const ctx = document.getElementById("myChart").getContext("2d");
            let valArr = "<%= valArr %>";
            valArr = valArr.split(",");

            let dateArr = "<%= dateArr %>";
            dateArr = dateArr.split(",");

            const myChart = new Chart(ctx, {
                type: "bar",
                data: {
                    labels: dateArr,
                    datasets: [
                        {
                            data: valArr,
                            borderWidth: 2,
                        },
                    ],
                },
                options: {
                    scales: {
                        y: {
                            beginAtZero: true,
                        },
                    },
                },
            });
        </script>
    </body>
</html>
